{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Flag for jQuery -->
<span id="homepage" style="display: none"></span>

<!-- Biography Section -->
{{ range where .Data.Pages "Type" "home" }}
{{ if eq .Title "about" }}
<section id="bio" class="home-section">
    <div class="container">
        {{ partial "home_biography" . }}
    </div>
</section>
{{ end }}
{{ end }}

<!-- Blog Posts Section -->
{{ $posts_len := len (where (where .Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}
{{ if gt $posts_len 0 }}
<section id="posts" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>{{ with .Site.Params.posts.title }}{{ . | markdownify }}{{ end }}</h1>
                {{ with .Site.Params.posts.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
                {{ if gt $posts_len .Site.Params.posts.count }}
                <p class="view-all">
                    <a href="{{ .Site.BaseURL }}post/">
                        {{ with .Site.Params.posts.str_all }}{{ . | markdownify }}{{ end }}
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </p>
                {{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ range first .Site.Params.posts.count (where (where .Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}
                <div class="article-list-item" itemscope itemprop="blogPost">
                    {{ if .Params.image }}
                    <a href="{{ .Permalink }}">
                        <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
                    </a>
                    {{end}}
                    <h3 class="article-title" itemprop="name"><a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a></h3>
                    {{ partial "article_metadata" (dict "content" . "is_list" 1) }}
                    <p class="article-style" itemprop="articleBody">
                        {{ if .Truncated }}
                            {{ .Summary }}
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </p>
                    <p class="read-more">
                        <a href="{{ .Permalink }}" class="btn btn-primary btn-outline">
                            {{ with .Site.Params.posts.str_read_more }}{{ . | markdownify }}{{ end }}
                        </a>
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}

<!-- Contact Section -->
{{ if .Site.Params.contact.enable }}
<section id="contact" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1>{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h1>
                {{ with .Site.Params.contact.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ partial "home_contact.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}

<!-- Page Footer -->
{{ partial "footer_container.html" . }}

{{ partial "footer.html" . }}
