<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <div id="profile">
        <div class="portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}');"></div>

            <div class="portrait-title">
                <h2 itemprop="name">{{ .Site.Params.name }}</h2>
                <h3 itemprop="jobTitle">{{ .Site.Params.role }}</h3>
                {{ with .Site.Params.organization }}<h3 itemprop="worksFor">{{ . }}</h3>{{ end }}
            </div>

            <ul class="social-icon">
                {{ range .Site.Params.social }}
                <li>
                    <a href="{{ .link }}">
                    {{ if eq .icon_pack "ai" }}
                        <i class="ai ai-{{ .icon }} big-icon" aria-hidden="true"></i>
                    {{ else }}
                        <i class="fa fa-{{ .icon }} big-icon" aria-hidden="true"></i>
                    {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
</div>
